<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.499091235682-4efa6ed193di5agivikcad3vj1e0eq9u</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>gvJp6y4jIrAkHh.ttf</string>
		<string>fvdjQBMUs6OmLFn5zFj0k2197zU.ttf</string>
		<string>pdVzDQ4BoSkZ.ttf</string>
		<string>sFigdw0Qwr2HngIe.ttf</string>
	</array>
</dict>
</plist>
